.SideList{
    cursor: pointer !important;
}

.SideBar{
    position: fixed;
    top:0;
    left: 0;
    background-color: rgb(235, 235, 243);
    width: 20%;
    height: 100%;
    text-align: center;
    line-height: 270%;
    display: block;
}

.ListWrap{
    margin-top: 20%;
}

.List{
    cursor: pointer;
    font-size: 1.3em;
}
.List:hover{
    cursor: pointer;
    font-size: 1.3em;
    color: rgb(110, 116, 107);
}

.Container{
    margin-left: 20%;
}

.Logo{
    margin-top: 20%;
}

.Name{
    font-weight: bold;
    font-size: 1.2em;
}