
.SideList{
    cursor: pointer !important;
}

.SideBar{
    position: fixed;
    top:0;
    left: 0;
    background-color: rgb(235, 235, 243);
    width: 20%;
    height: 100%;
    text-align: center;
    line-height: 270%;
    display: block;
}

.ListWrap{
    margin-top: 15%;
}

.List{
    cursor: pointer;
    font-size: 1.3em;
    opacity: 0.2;
}
.List:hover{
    cursor: pointer;
    font-size: 1.3em;
    opacity: 0.4;
}

.Container{
    margin-left: 20%;
    margin-top: 4%;
}

.Logo{
    margin-top: 15%;
    margin-bottom: 2%;
}

.Name{
    font-weight: bold;
    font-size: 1.6em;
}